* {
  font-family: Ubuntu, "Times new roman", Arial, San-serif, Ubuntu;
  background-color: $base-color;
}

body {
  margin-bottom:50px;
}

h1 {
  font-size: 25px;
}

figure {
  position: relative;
  border: 1px solid $nav-shadow-color;
  margin: 10px;
  overflow: hidden;
}
