/* Color palette - http://colorhunt.co/c/1649 */

// Colors
$base-color: #F0F5F9;
$font-color: #52616B;
$link-hover-color: #1E2022;
$nav-shadow-color: #C9D6DF;
$dark-grey: #828282;

// Widths
$max-width: 960px;
$min-width: 320px;
$side-margin: 175px;
